<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Codeafrica</servlet-name>
		<servlet-class>co.uk.thetimes.codeafrica.CodeafricaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Codeafrica</servlet-name>
		<url-pattern>/codeafrica</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddRecord</servlet-name>
		<servlet-class>co.uk.thetimes.codeafrica.AddRecordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRecord</servlet-name>
		<url-pattern>/addrecord</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindRecords</servlet-name>
		<servlet-class>co.uk.thetimes.codeafrica.FindRecordsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindRecords</servlet-name>
		<url-pattern>/findrecords</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>remote-api</servlet-name>
		<servlet-class>
			com.google.apphosting.utils.remoteapi.RemoteApiServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remote-api</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
